<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>

	<!-- Paths -->	
    <add key="PatientPath" value="../../Resources/Data/patients.csv" />
    <add key="AddressPath" value="../../Resources/Data/addresses.csv" />
    <add key="QuestionPath" value="../../Resources/Data/questions.csv" />
    <add key="DoctorPath" value="../../Resources/Data/doctors.csv" />
    <add key="AppointmentPath" value="../../Resources/Data/appointments.csv" />
    <add key="MedicinePath" value="../../Resources/Data/medicines.csv" />
    <add key="PrescriptionPath" value="../../Resources/Data/prescriptions.csv" />
    <add key="MedicalConsumablesPath" value="../../Resources/Data/medicalConsumables.csv" />
    <add key="EquipmentPath" value="../../Resources/Data/equipment.csv" />
    <add key="RoomPath" value="../../Resources/Data/rooms.csv" />
    <add key="RenovationPath" value="../../Resources/Data/renovations.csv" />
    <add key="MedicalAppointmentPath" value="../../Resources/Data/MedicalAppointments.csv" />
    <add key="FeedbackPath" value="../../Resources/Data/feedback.csv" />
    <add key="ReviewPath" value="../../Resources/Data/reviews.csv" />
    <add key="AnamnesisPath" value="../../Resources/Data/anamnesis.csv"/>
    <add key="SecretaryPath" value="../../Resources/Data/secretaries.csv" />
    <add key="InventoryPath" value="../../Resources/Data/inventoryManagement.csv" />
    <add key="InventoryEquipmentPath" value="../../Resources/Data/inventoryEquipmentManagement.csv" />
    <add key="OrderPath" value="../../Resources/Data/orders.csv" />
    <add key="OrderDetailsPath" value="../../Resources/Data/orderDetails.csv" />
    <add key="DoctorPath" value="../../Resources/Data/doctors.csv" />
    <add key="PropositionPath" value="../../Resources/Data/proposition.csv" />
    <add key="ApprovalPath" value="../../Resources/Data/approval.csv" />

      <!-- Referrals -->
    <add key="AdmitionReferralPath" value="../../Resources/Data/Referral/admitionReferrals.csv" />
    <add key="ExamReferralPath" value="../../Resources/Data/Referral/examReferrals.csv" />
    <add key="OperationReferralPath" value="../../Resources/Data/Referral/operationReferrals.csv" />
    
    <!-- Many to Many -->
    <add key="MedicalAppointmentToDoctorPath" value="../../Resources/Data/ManyToMany/medicalAppointmentsToDoctors.csv" />
    <!-- Shortcuts -->	
    <add key="Shortcut_ShowShortcut" 
		 value="F2" />
    <add key="Shortcut_ShowHelp" 
		 value="F1" />
    <add key="Shortcut_CreateAppointment" 
		 value="Ctrl+N" />
    <add key="Shortcut_CreatePatient" 
		 value="Ctrl+N" />
    <add key="Shortcut_FindDoctor" 
		 value="Ctrl+F" />
    <add key="Shortcut_FindAppointment" 
		 value="Ctrl+F" />
	
	
	<!-- Formats -->	
    <add key="DelimiterValue" value="," />
    <add key="DateTimeFormat" value="dd.MM.yyyy" />
    <add key="TimeFormat" value="hh:mm" />
    <add key="DateTimeDetailFormat" value="hh:mm dd.MM.yyyy" />
    <add key="CalendarFormat" value="dddd, dd MMMM yyyy" />
    <add key="AppointmentLengthInMinutes" value="30" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />



    <add key="ReportRoomPath" value="../../Resources/Reports/RoomReports/" />
    <add key="ReportAppointmentPath" value="../../Resources/Reports/AppointmentReports/" />
    <add key="ReportPrescriptionPath" value="../../Resources/Reports/PrescriptionReports/" />
    <add key="DoctorsAppointmentsPath" value="../../Resources/Reports/DoctorReports/AppointmentsReport.pdf" />
    <add key="ReportMedicinePath" value="../../Resources/Reports/DoctorReports/MedicineReport.pdf" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>